* {
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner.jpg);
    background-attachment:fixed;
    background-size: cover;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.interface {
    width:86%;
    margin:0 auto;
}

header {
    margin-top:25px
}

header h1 {
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#menu {
    display: inline-block;
    visibility:visible;
    float:right;
    position:relative;
}

#imgMenu {
    background:#0275d8;
    border-radius:4px;
    align-items:center;
    cursor:pointer;
    display:inline-block;
    width:30px;
    padding:3px;
    display:none;
}

#imgMenu:hover {
    background:#fff;
    transition: 0.6s;
}

#menu a {
    text-decoration:none;
    color:#0275d8;
    position:relative;
}

#menu a:hover {
    color:#fff;
    transition: 0.5s;
}

#menu li::after {
    content: " ";
    width:0%;
    height:1px;
    background-color:#ffffff;
    position:absolute;
    bottom:0;
    left:0;
    transition: 0.5s ease-in-out;
}

 #menu li:hover::after {
    width:100%;
}

#menu li {
    list-style:none;
    display:inline-block;
    padding:13px 18px;
    position:relative;
}

header h1 {
    display:inline;
}

#minhaFoto {
    width:360px;
    border-radius:17px;
    margin:150px auto 0 auto;
    display:block;
}

#minhaFoto:hover {
    scale: 1.1;
    transition:0.5s;
}

#areaInicial h1, h2 {
    text-align:center;
    padding-top:14px
}

#areaInicial h1 {
    font-size:30px;
    letter-spacing:1px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#areaInicial h2 {
    color:#0275d8;
    padding:2px 9px ;
    font-family:monospace;
    
    animation: typing 4s steps(22), blink 0.6s step-end infinite alternate;
    white-space:nowrap;
    overflow:hidden;
    border-right:2px solid;
    width:261px;
    margin:10px auto;
    letter-spacing:1px;
}

@keyframes typing {
    from {
        width:0;
    }
}

@keyframes blink {
    50% {
        border-color:transparent;
    }
}

#areaInicial button {
    padding:10px 12px;
    border:1px solid #0275d8;
    border-radius:7px;
    background:#0275d8;
    font-weight:bold;
    display:block;
    margin: 17px auto; 
    cursor:pointer;
    color:white;
}

#areaInicial button:hover {
    scale:1.2;
    background:#005dae;
    transition:0.5s;
}

@keyframes botao {
    0% {
        transform:scale(1);
    }

    100% {
        transform: scale(1.09);
    }
}

#areaInicial a {
    text-decoration:none;
}

#cor {
    position:relative;
    height:2600px;
    top:200px;
    background:linear-gradient(to top, #00294d, #000e1a);
    box-shadow:0 0 40px #0274d86f;
    overflow: hidden;
}

section #sobre {
    height:1000px;
}

#sobreMim {
    width:91%;
    margin:0 auto;
    height:525px;
    /* background:rgba(1, 16, 44, 0.089); */
    background:#000e1a;
    position:relative;
    top:140px;
    border-radius:20px; 
    box-shadow:0 0px 40px #0274d82c;
}

.redesSociaisSobre {
    position: absolute;
    margin:119px 0 0 310px;
}

.redesSociaisSobre .redesSociais img {
    padding:0 4px;
}

#areaContato {
    width:500px;
}

#textoSobre {
    width:48%;
    position:relative;
    top:-380px;
    left:490px;
    color:rgba(255, 255, 255, 0.616);
    height:500px;
}

#sobreMim h2 {
    position:relative;
    display:inline;
    left:40px;
    top:142px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    font-size:36px;
}

#sobreMim p {
    position:relative;
    top:180px;
    display:inline-block;
    left:40px;
    line-height:26px;
    letter-spacing:1px;
    padding-bottom:6px;
}

#sobreMim h3 {
    position:relative;
    top:212px;
    display:inline;
    right:-41px;
    font-weight:400;
    font-size:20px;
}

#sobreMim button {
    padding:10px 12px;
    border:1px solid #0275d8;
    border-radius:7px;
    background:#0275d8;
    font-weight:bold;
    display:block; 
    cursor:pointer;
    color:white;
    position:relative;
    left:60px;
    top:209px;
    display:inline-block;

    animation-name: botao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    background:#0275d8;
}

#sobreMim button:hover {
    background:#005dae;
}

#projetos {
    box-shadow: 0 0 40px #0274d86f;
    height:750px;
    margin-top:300px;
    text-align: center;
}



#projetos h2 {
    font-size:60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    position:relative;
    top:80px;
}

.projetos {
    width:240px;
    height:360px;
    display:inline-block;
    background:#fff;
    opacity:1;
    border-radius:10px;
    position:relative;
    top:135px;
    margin:30px;
    background-size:cover;
    background-position:100% 0%;
    transition:1.4s;
    cursor:pointer;
    color:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projetos:hover {
    background-position:100% 100%;
}

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#00000097;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:19px;
    opacity:0;
    transition:0.5s;
}

.overlay:hover {
    opacity:1;
    
}

#habilidades h2 {
    font-size:60px;
    font-weight:400;
    margin-top:150px;
}


#habilidades {
    font-family:"Outfit", sans-serif;
    margin: 0 auto;
    color:#000e1a;
    width:500px;
    padding: 0 40px 10px 40px;
    border-radius:20px;
    background:rgba(255, 255, 255, 0.818);
    box-shadow:0 15px 20px #000, 0 -5px 5px #00000027;
}

#habilidades ul {
    list-style:none;
   
}

#habilidades ul li {
    margin:20px 0;
}

#habilidades .barras {
    background-color:#ccc;
    display:block;
    height:20px;
    position:relative;
    border-radius: 20px;
    overflow:hidden;
}

.barras > span {
    height:20px;
    background: linear-gradient(to right, #00305a, #0275d8);
    position:absolute;
}

.html {
    width:90%;
    animation:html 3s;
}

.css {
    width:85%;
    animation:css 3s;
}

.javascript {
    width:70%;
    animation:javascript 3s;
}

.react {
    width:70%;
    animation:react 3s;
}

.angular {
    width:40%;
    animation:angular 3s;
}

.bootstrap {
    width:70%;
    animation:bootstrap 3s;
}

.wordpress {
    width:50%;
    animation:wordpress 3s;
}

.uxDesign {
    width:30%;
    animation:uxDesign 3s;
}

@keyframes html {
    0% {
        width:0%;
    }
    100% {
        width:90%;
    }
}

@keyframes css {
    0% {
        width:0%;
    }
    100% {
        width:85%;
    }
}

@keyframes javascript {
    0% {
        width:0%;
    }
    100% {
        width:70%;
    }
}

@keyframes react {
    0% {
        width:0%;
    }
    100% {
        width:70%;
    }
}

@keyframes angular {
    0% {
        width:0%;
    }
    100% {
        width:40%;
    }
}

@keyframes bootstrap {
    0% {
        width:0%;
    }
    100% {
        width:70%;
    }
}

@keyframes wordpress {
    0% {
        width:0%;
    }
    100% {
        width:50%;
    }
}

@keyframes uxDesign {
    0% {
        width:0%;
    }
    100% {
        width:30%;
    }
}

footer {
    height:180px;
    background:rgba(0, 0, 0, 0.401);
    margin-top:107px;
    box-shadow:0 0 40px #0274d871;
}

footer ul {
    float:right;
    list-style:none;
    margin-right:300px;
}

footer li {
    float:left;
    margin:70px 50px;
}

footer a {
    text-decoration:none;
    color:#0275d8;
}

footer a:hover {
    color:white;
    transition: 0.4s;
}

#rodape {
    justify-content:space-between;
}   

.flex {
    display:flex;
}

#email {
    margin-top:40px;
}

#email p {
    position:relative;
    left:40px;
    bottom:25px;
}

.redesSociais {
    margin-top:20px;
}

.borda {
    border-bottom:2px solid #0275d8;
    position:relative;
    top:7px;
}

.esconder {
    opacity:0;
    transition:all 1.8s;
    filter: blur(10px);
    transform:translateX(-100%);
}

.mostrar {
    opacity:1;
    transition:all 1.8s;
    filter: blur(0);
    transform:translateX(0);
}

::-webkit-scrollbar {
    width:10px;
    background:black;
}

::-webkit-scrollbar-thumb {
    background:#0275d8;
}

#espaco {
    margin-top:50px;
}


@media screen and (max-width:1580px){
    #imgH {visibility: hidden};
    #menu {display: block};
}

@media screen and (max-width:1475px){
    #sobreMim {
    height:545px;
    }
}

@media screen and (max-width:1400px){
    #textoSobre {
    top:-370px;
    left:465px;
    }

    .redesSociaisSobre {
        left:-40px;
    }
}

@media screen and (max-width:1320px) {
    #sobreMim {
    height:470px;
    }
    
    #textoSobre {
        top:-360px;
        left:430px;
    }
    
    #textoSobre p {
    font-size:11pt;
    line-height:23px;
    }

    #textoSobre h2 {
    font-size:22pt;
    line-height:23px;
    }

    #textoSobre h3 {
    font-size:13pt;
    }

    #textoSobre button {
    padding:7px 9px;
    }

    .redesSociaisSobre .redesSociais {
        width:40px;
        height:40px;
    }

    #imgSobre {
        position:relative;
        top:-30px;
    }
}

@media screen and (max-width:1250px) {
    body #cor {
        height:2850px;
    } 
    #sobreMim {
        width:64%;
        height:750px;
        top:140px;
    }

    #imgSobre {
        width:1000px;
        position:relative;
        top:-90px;
        left:18px;
    }

    #textoSobre {
        width:80%;
        position:relative;
        top:-40px;
        left:37px;
    }

    .redesSociaisSobre {
        display:flex;
        flex-direction: column;
        left:210px;
        bottom:405px;
    }

    footer {
        height:158px;
        margin-top:139px;
    }   
}

@media screen and (max-width:1205px) {
    #sobreMim {
        height:770px;
    }

    .redesSociaisSobre {
        left:180px;
        bottom:405px;
    }

}

@media screen and (max-width:1167px) {
    #sobreMim {
        height:790px;
    }
}

@media screen and (max-width:1140px) {
    .redesSociaisSobre {
        left:160px;
        bottom:405px;
    }
}

@media screen and (max-width:1080px) {
    #imgSobre {
        left:10px;
    }

    #textoSobre {
        left:25px;
    }

    .redesSociaisSobre {
        left:140px;
        bottom:405px;
    }
}

@media screen and (max-width:1014px) {
    #sobreMim {
        width:80%;
        height:750px;
    }

    .redesSociaisSobre {
        left:232px;
    }

    .projetos {
        width:200px;
        height:300px;
    }
}

@media screen and (max-width:967px) {
    #sobreMim {
        width:80%;
        height:770px;
    }

    .redesSociaisSobre {
        left:194px;
    }
}

@media screen and (max-width:932px) {
    #sobreMim {
        width:80%;
        height:790px;
    }
}

@media screen and (max-width:903px) {
    .redesSociaisSobre {
        left:120px;
    }
}

@media screen and (max-width:801px) {
    #projetos {
        height:1040px;
    }

    body #cor {
        height:3165px;
    } 

    #sobreMim {
        width:88%;
        height:790px;
    }

    #imgMenu {
        background:#0275d8;
        border-radius:4px;
        align-items:center;
        cursor:pointer;
        display:inline-block;
        width:30px;
        padding:3px;
        position:relative;
        float:right;
    }

    #menu {
        visibility:hidden;
    }

    #menu li {
        display:block;
        flex-direction:column;
    }
}

@media screen and (max-width:725px) {
    #sobreMim {
        height:810px;
        width: 90%;
    }

    #imgSobre {
        left:-10px;
    }

    #textoSobre {
        left:10px;
    }

    .redesSociaisSobre {
        left:110px;
    }

    footer {
        margin-top:133px;
    }
}

@media screen and (max-width:684px) {
    #sobreMim {
        height:821px;
        width: 490px;
    }

    #imgSobre {
        left:20px;
        width:920px;
    }

    #textoSobre {
        left:10px;
    }

    .redesSociaisSobre {
        left:-40px;
        top:-7px;
        flex-direction: row;
    }

    #habilidades {
        width:370px;
    }

    #habilidades h2{
        width:400px;
        font-size:40px;
        position:relative;
        left:-17px;
    }
}

@media screen and (max-width:584px) {
    #sobreMim {
        width: 420px;
    }

    #imgSobre {
        left:-14px;
        top:-100px;
    }

    #textoSobre {
        left:-10px;
        top:-60px;
        width:87%;
    }

    .redesSociaisSobre {
        left:-80px;
    }
}

@media screen and (max-width:536px) {
    #projetos {
        height:1420px;
    }

    body #cor {
        position:relative;
        height:3640px;
    }

    #habilidades {
        width:320px;
    }

    #habilidades h2{
        font-size:40px;
        position:relative;
        left:-40px;
    }

    body .redesSociaisRodape {
        margin:0 0 0 59px;
    }

    .redesSociaisRodape .redesSociais {
        width:36px;
        height:36px;
    }

    footer {
        margin-top:222px;
    }
}

@media screen and (max-width:495px) {

    body {
        background-image: url(fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner.jpg);
        background-attachment:fixed;
        background-position: center;
        background-size: cover;
    }

    #minhaFoto {
        width:90%;
    }

    #sobreMim {
        width: 110%;
        margin:-5%;
        height: 900px;
    }

    #sobreMim button {
        top:224px;
        left:45px;
    }

    #sobreMim h2 {
        font-size:21pt;
    }

    #imgSobre {
        left:-52px;
        top:-120px;
        width:270%;
    }

    #textoSobre {
        left:-10px;
        top:-60px;
        width:87%;
    }

    .redesSociaisSobre .redesSociais {
        width:35px;
        height:35px;
    }

    .redesSociaisSobre {
        left:-90px;
    }

    #projetos {
        height:1420px;
    }

    body #cor {
        position:relative;
        height:3640px;
    }

    #habilidades {
        width:250px;
        margin-top:150px;
    }

    #habilidades h2{
        font-size:37px;
        position:relative;
        left:-72px;
    }

    body .redesSociaisRodape {
        margin:0 0 0 59px;
    }

    .redesSociaisRodape .redesSociais {
        width:36px;
        height:36px;
    }

    footer {
        margin-top:162px;
    }
}