* {
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #00294d url(fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner.jpg);
    background-attachment:fixed;
    background-size: cover;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.interface {
    width:86%;
    margin:0 auto;
}

header {
    margin-top:25px
}

header h1 {
    font-weight: 600;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: "Space Grotesk", sans-serif;
}

#menu {
    display: inline-block;
    visibility:visible;
    float:right;
    position:relative;
}

#imgMenu {
    background:#0275d8;
    border-radius:4px;
    align-items:center;
    cursor:pointer;
    display:inline-block;
    width:30px;
    padding:3px;
    display:none;
}

#imgMenu:hover {
    background:#fff;
    transition: 0.6s;
}

#menu a {
    text-decoration:none;
    color:#0275d8;
    position:relative;
}

#menu a:hover {
    color:#fff;
    transition: 0.5s;
}

#menu li::after {
    content: " ";
    width:0%;
    height:1px;
    background-color:#ffffff;
    position:absolute;
    bottom:0;
    left:0;
    transition: 0.5s ease-in-out;
}

 #menu li:hover::after {
    width:100%;
}

#menu li {
    list-style:none;
    display:inline-block;
    padding:13px 18px;
    position:relative;
}

header h1 {
    display:inline;
}

#minhaFoto {
    width:360px;
    border-radius:17px;
    margin:150px auto 0 auto;
    display:block;
}

#minhaFoto:hover {
    scale: 1.1;
    transition:0.5s;
}

#areaInicial h1 {
    text-align:center;
    padding-top:14px;
}

#areaInicial h1 {
    font-size:30px;
    letter-spacing:1px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#areaInicial h2 {
    color:#0275d8;
    padding:2px 9px ;
    font-family:monospace;
    display: block;
    text-align: center;
    /* animation: typing 4s steps(22), blink 3.6s steps(50) infinite;
    white-space:nowrap;
    overflow:hidden;
    border-right:2px solid;
    width:261px; */
    margin:10px auto;
    letter-spacing:1px;
}

#areaInicial button {
    padding:10px 12px;
    border:1px solid #0275d8;
    border-radius:7px;
    background:#0275d8;
    font-weight:bold;
    display:block;
    margin: 17px auto; 
    cursor:pointer;
    color:white;
}

#areaInicial button:hover {
    scale:1.2;
    background:#005dae;
    transition:0.5s;
} 

@keyframes botao {
    0% {
        transform:scale(1);
    }

    100% {
        transform: scale(1.09);
    }
}

#areaInicial a {
    text-decoration:none;
}

#cor {
    position:relative;
    height:4380px;
    top:200px;
    background:linear-gradient(to top, #00294d, #000e1a);
    box-shadow:0 0 40px #0274d86f;
    overflow: hidden;
}

.interface #atrairCliente {
    height:1100px;
    box-shadow:0 0 40px #0274d86f;
}

.interface #clientePrecisa {
    display:flex;
    justify-content:center;
    align-content:center;
    margin-top: 50px;
}

.interface #clientePrecisa2 {
    display:flex;
    justify-content:center;
    align-content:center;
    margin-top: 60px;
}

.interface h3 {
    margin-top:140px;
    padding-top:70px;
    display:flex;
    justify-content:center;
    align-content:center;
    font-size:40px;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
}

.caixaP1, .caixaP2 {
    float:left;
    margin:30px;
    border:2px solid rgb(119, 119, 119);
    width:460px;    
    padding:25px 12px 25px 25px;
    border-bottom:2px solid royalblue;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.4px;
}

.caixa2P1, .caixa2P2, .caixa2P3 {
    float:left;
    width:300px;
    margin:10px;
    border:2px solid rgb(119, 119, 119);
    height:180px;
    padding:15px 15px 15px 15px;
    border-left:2px solid royalblue;
}

#clientePrecisa2 p {
    font-size:13px;
    text-align:center;
}

#clientePrecisa2 h4 {
    font-weight: 200;
    text-align:center;
    margin:20px
}

.tituloClientePrecisa2 {
    text-align:center;
}

.caixas svg {
    float:left;
    padding-right:20px;
    margin-top:16px;
    color:#0275d8
}

.caixas2 svg {
    display:flex;
    justify-content:center;
    align-content:center;
    position:relative;
    margin:0 auto;
    padding-right:20px;
    color:#0275d8;
}



.tituloClientePrecisa2 h3 {
    margin-bottom:30px;
    font-family: "Space Grotesk", sans-serif;
}

.tituloClientePrecisa2 {
    margin:-50px 140px 50px 140px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    letter-spacing: 0.6px;
}

.tituloClientePrecisa2 {
    font-size:18px;
}

#sobreMim {
    width:100%;
    height:530px;
    /* background:rgba(1, 16, 44, 0.089); */
    background:#000e1a;
    position:relative;
    top:140px;
    border-radius:20px; 
    box-shadow:0 0px 40px #0274d82c;
}

.redesSociaisSobre .redesSociais {
    position:relative;
    top:187px;
    left:290px;
    padding-left:6px;
}

#textoSobre {
    width:48%;
    position:relative;
    left:610px;
    top:-470px;
    color:rgba(255, 255, 255, 0.616);
}

#sobreMim h2 {
    position:relative;
    display:inline;
    left:40px;
    top:142px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    font-size:36px;
}

#sobreMim p {
    position:relative;
    top:180px;
    display:inline-block;
    left:40px;
    line-height:26px;
    letter-spacing:1px;
    padding-bottom:6px;
}

#sobreMim h3 {
    position:relative;
    top:0;
    left:45px;
    display:inline;
    font-weight:400;
    font-size:20px;
}

#sobreMim button {
    padding:10px 18px;
    border:1px solid #0275d8;
    border-radius:7px;
    background:#0275d8;
    font-weight:bold;
    display:inline; 
    cursor:pointer;
    color:white;
    position:relative;
    margin:200px 0 0 23px;
    /* left:60px;
    top:209px;  */
    left:40px;

    animation-name: botao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    background:#0275d8;
}

#sobreMim button:hover {
    background:#005dae;
}

         /* **************** Projetos ****************  */

#projetos {
    box-shadow: 0 0 40px #0274d86f;
    height:1280px;
    margin-top:300px;
    text-align: center;
}



#projetos h2 {
    font-size:60px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    position:relative;
    top:80px;
}

#projetos h3 {
    font-size:45px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    position:relative;
    top:175px;
}

#projetos h4 {
    font-size:25px;
}

.projetos {
    width:240px;
    height:360px;
    display:inline-block;
    opacity:1;
    border-radius:10px;
    position:relative;
    top:120px;
    margin:30px;
    background-size:cover;
    background-position:100% 0%;
    transition:1.4s;
    cursor:pointer;
    color:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sitesWP {
    width:240px;
    height:360px;
    display:inline-block;
    background:#fff;
    opacity:1;
    border-radius:10px;
    position:relative;
    top:110px;
    margin:30px;
    background-size:cover;
    background-position:100% 0%;
    transition:6.0s;
    cursor:default;
    color:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.sitesEmWordpress {
    position:relative;
    margin-top:90px;
}

.sitesWP h4 {
    margin-top:452px;
}

.projetos:hover {
    background-position:100% 100%;
}

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#00000097;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    transition:0.5s;
}

.overlay:hover {
    opacity:1;
    
}

.overlayWP {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:0;
    transition:0.5s;
}

.overlayWP:hover {
    opacity: 1;
}

#habilidades h2 {
    font-size:50px;
    font-weight:400;
    margin-top:160px;
}

.habilidades h2 {
    position:relative;
    top:15px;
    left:105px;
}

#habilidades {
    /* font-family:"Outfit", sans-serif; */
    font-family: "Space Grotesk", sans-serif;
    margin: 0 auto;
    color:#000e1a;
    width:500px;
    padding: 0 40px 10px 40px;
    border-radius:20px;
    background:rgba(255, 255, 255, 0.818);
    box-shadow:0 15px 20px #000, 0 -5px 5px #00000027;
}

#habilidades ul {
    list-style:none;
   
}

#habilidades ul li {
    margin:20px 0;
}

#habilidades .barras {
    background-color:#ccc;
    display:block;
    height:20px;
    position:relative;
    border-radius: 20px;
    overflow:hidden;
}

.barras > span {
    height:20px;
    background: linear-gradient(to right, #00305a, #0275d8);
    position:absolute;
}

.html {
    width:90%;
    animation:html 3s;
}

.css {
    width:85%;
    animation:css 3s;
}

.javascript {
    width:70%;
    animation:javascript 3s;
}

.react {
    width:70%;
    animation:react 3s;
}

.angular {
    width:40%;
    animation:angular 3s;
}

.bootstrap {
    width:70%;
    animation:bootstrap 3s;
}

.wordpress {
    width:50%;
    animation:wordpress 3s;
}

.uxDesign {
    width:30%;
    animation:uxDesign 3s;
}

@keyframes html {
    0% {
        width:0%;
    }
    100% {
        width:90%;
    }
}

@keyframes css {
    0% {
        width:0%;
    }
    100% {
        width:85%;
    }
}

@keyframes javascript {
    0% {
        width:0%;
    }
    100% {
        width:70%;
    }
}

@keyframes react {
    0% {
        width:0%;
    }
    100% {
        width:70%;
    }
}

@keyframes angular {
    0% {
        width:0%;
    }
    100% {
        width:40%;
    }
}

@keyframes bootstrap {
    0% {
        width:0%;
    }
    100% {
        width:70%;
    }
}

@keyframes wordpress {
    0% {
        width:0%;
    }
    100% {
        width:50%;
    }
}

@keyframes uxDesign {
    0% {
        width:0%;
    }
    100% {
        width:30%;
    }
}

footer {
    height:180px;
    background:rgba(0, 0, 0, 0.401);
    margin-top:107px;
    box-shadow:0 0 40px #0274d871;
}

footer ul {
    float:right;
    list-style:none;
    margin-right:300px;
}

footer li {
    float:left;
    margin:70px 50px;
}

footer a {
    text-decoration:none;
    color:#0275d8;
}

footer a:hover {
    color:white;
    transition: 0.4s;
}

#rodape {
    justify-content:space-between;
}   

.flex {
    display:flex;
}

#email {
    margin-top:40px;
}

#email p {
    position:relative;
    left:40px;
    bottom:25px;
}

.redesSociais {
    margin-top:20px;
}

.borda {
    border-bottom:2px solid #0275d8;
    position:relative;
    top:7px;
}

/* .esconder {
    opacity:0;
    transition:all 1.8s;
    filter: blur(10px);
    transform:translateX(-100%);
}

.mostrar {
    opacity:1;
    transition:all 1.8s;
    filter: blur(0);
    transform:translateX(0);
} */

::-webkit-scrollbar {
    width:10px;
    background:black;
}

::-webkit-scrollbar-thumb {
    background:#0275d8;
}

#espaco {
    margin-top:50px;
}

.direitosAutorais h4 {
    color: #0275d8;
    font-size:15px;
    margin-top:46px;
}

@media screen and (max-width:1580px){
    #imgH {visibility: hidden};
    #menu {display: block};
}

@media screen and (max-width:1475px){
    #sobreMim {
    height:545px;
    }
}

@media screen and (max-width:1400px){
    #textoSobre {
        left:560px;
    }

    .redesSociaisSobre {
        left:-40px;
    }
}

@media screen and (max-width:1320px) {
    body #cor {
        height:4515px;
    } 

    .caixaP1, .caixaP2 {
        position:relative;
        
        width:60%;
        display: block;
    }

    #clientePrecisa .caixas {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content:center;
    }

    .interface #atrairCliente {
    height:1280px;
}

    #sobreMim {
    height:500px;
    }
    
    #textoSobre {
        left:450px;
        top:-420px;
    }
    
    #textoSobre p {
        font-size:14px;
    }

    #textoSobre h2 {
    font-size:22pt;
    line-height:23px;
    }

    #textoSobre h3 {
    font-size:13pt;
    }

    #textoSobre button {
    padding:7px 9px;
    }

    .redesSociaisSobre .redesSociais {
        width:40px;
        height:40px;
    }

    #imgSobre {
        position:relative;
        top:-30px;
        left:-60px;
        width:84%;
    }
}

@media screen and (max-width:1250px) {
    body #cor {
        height:5015px;
    } 

    #clientePrecisa2 .caixas2 {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content:center;
    }

    .interface #atrairCliente {
        height:1750px;
    }

    #imgSobre {
        display:none;
    }

    #textoSobre .redesSociaisSobre {
        display: flex;
        flex-direction: row;
        left:400px;
    }

    #textoSobre p {
        font-size:17px;
    }

    #textoSobre {
        width:65%;
        position:relative;
        display: block;
        top: -154px;
        left:-200px;
        margin:0 auto;
    }

    .redesSociaisSobre {
        display:flex;
        flex-direction: column;
        left:210px;
        bottom:405px;
    }

    footer {
        height:158px;
        margin-top:139px;
    }   
}

@media screen and (max-width:1205px) {
    .redesSociaisSobre {
        left:180px;
        bottom:405px;
    }

}

@media screen and (max-width:1153px) {
    body #cor {
        height:5070px;
    } 

    .interface #atrairCliente {
        height:1810px;
    }

    .direitosAutorais h4 {
        float:left;
        position:relative;
        top:-40px;
        right:205px;
    }
}

@media screen and (max-width:1140px) {

    body #cor {
        height:4800px;
    } 

    .redesSociaisSobre {
        left:160px;
        bottom:405px;
    }
}

@media screen and (max-width:1080px) {

    #textoSobre p {
        left:-20px;
    }

    .redesSociaisSobre {
        left:140px;
        bottom:405px;
    }
}

@media screen and (max-width:1036px) {
    body #cor {
        height:5020px;
    } 
    
    .interface #atrairCliente {
        height:1880px;
    }

    #textoSobre {
        width:50%;
        top:-180px;
        left:-250px;
    }

    #textoSobre h2 {
        top:150px;
        left:-17px;
    }

    #projetos {
        height:1150px;
    }

    .projetos {
        width:200px;
        height:300px;
    }

    footer .redesSociais {
        position:relative;
        right:100px;
        display:inline;
    }

    #rodape .redesSociaisRodape {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:968px) {

    .redesSociaisSobre {
        left:194px;
    }
}

@media screen and (max-width:932px) {
    .interface #atrairCliente {
        height:1900px;
    }
}

@media screen and (max-width:903px) {

    body #cor {
        height:5100px;
    } 

    .interface #atrairCliente {
        height:1970px;
    }
    
    .redesSociaisSobre {
        left:120px;
    }

    #textoSobre {
        width:50%;
        top:-180px;
        left:-300px;
        position:relative;
    }
}

@media screen and (max-width:860px) {
    body #cor {
        height:5170px;
    } 

    #textoSobre {
        width:40%;
        left:-350px;
    }

    #sobreMim {
        height:570px;
    }
}

@media screen and (max-width:809px) {
    .interface #atrairCliente {
        height:1920px;
    }

    #atrairCliente .tituloClientePrecisa2 {
        margin:-50px 70px 50px 70px;
    }

    #imgMenu {
        background:#0275d8;
        border-radius:4px;
        align-items:center;
        cursor:pointer;
        display:inline-block;
        width:30px;
        padding:3px;
        position:relative;
        float:right;
    }

    #menu {
        visibility:hidden;
    }

    #menu li {
        display:block;
        flex-direction:column;
    }
}

@media screen and (max-width:801px) {
    body #cor {
        height:5500px;
    } 

    #projetos {
        height:1540px;
    }
}

@media screen and (max-width:725px) {
    body #cor {
        height:5670px;
    } 

    #email {
        margin-top:80px;
    }

    .interface #atrairCliente {
        height:2060px;
    }

    #textoSobre {
        left:-390px;
    }

    #sobreMim {
        height:570px;
    }
}

@media screen and (max-width:684px) {
    body #cor {
        height:5810px;
    } 

    #textoSobre {
        width:25%;
        left:-480px;
    }

    #textoSobre p {
        font-size:15px;
    }

    #sobreMim {
        height:720px;
    }

    .redesSociaisSobre {
        left:-40px;
        top:-7px;
        flex-direction: row;
    }

    #habilidades {
        width:370px;
    }

    #habilidades h2{
        width:400px;
        font-size:40px;
        position:relative;
        left:-17px;
    }
}

@media screen and (max-width:645px) {
    body #cor {
        height:5830px;
    } 

    #atrairCliente .tituloClientePrecisa2 {
        margin:-50px 40px 50px 40px;
    }

    #textoSobre {
        left:-500px;
    }

    #email {
        margin-top:110px;
    }
    footer {
        height:240px;
    }
}

@media screen and (max-width:584px) {
    body #cor {
        height:5900px;
    } 

    .interface #atrairCliente {
        height:2120px;
    }
    
    #areaInicial h2 {
        padding:2px 0px;
        width:276px;
    }
}

@media screen and (max-width:536px) {
    body #cor {
        height:6755px;
    } 

    .interface #atrairCliente {
        height:2220px;
    }

    #textoSobre {
        left:-530px;
    }

    #projetos {
        height:2220px;
    }

    #habilidades {
        width:320px;
    }

    #habilidades h2{
        font-size:40px;
        position:relative;
        left:-40px;
    }

    body .redesSociaisRodape {
        margin:0 0 0 59px;
    }

    .redesSociaisRodape .redesSociais {
        width:36px;
        height:36px;
    }

    footer {
        margin-top:222px;
    }
}

@media screen and (max-width:500px) {

    body {
        background: url(fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner-celular.jpg) #00294d;
        background-attachment:fixed;
        background-position: center;
        background-size: cover;
    }

    #minhaFoto {
        width:90%;
    }

    .subtitulo h2{
        font-size:18px;
        letter-spacing: 0.7;
    }

    body #cor {
        height:6900px;
    } 

    body .interface #atrairCliente {
        height:2320px;
    }

    #atrairCliente .clientePrecisaH3 h3 {
        width:90%;
        margin:100px auto 0;
        font-size:32px;
        text-align: center;

    }

    .interface #atrairCliente {
        height:2110px;
    }

    #atrairCliente .tituloClientePrecisa2 h3 {
        width:100%;
        font-size:32px;
    }

    #sobreMim {
        width:100%;
        height:820px;
    }

    #sobreMim button {
        /* top:210px;
        left:10px; */
        top:0;
        left:0;
        margin:187px 0 0 184px;
    }

    #sobreMim h2 {
        font-size:25pt;
    }

    #sobreMim h3 {
        font-size: 16px;
        top:212px;
        right:-41px;
    }

    .redesSociaisSobre .redesSociais {
        position:relative;
        top:182px;
        left:172px;
        padding-left:6px;
    }

    #textoSobre {
        width:80%;
        top:-160px;
        left:10px;
    }

    #textoSobre h3 {
        left:-18px;
    }

    .redesSociaisSobre .redesSociais {
        width:35px;
        height:35px;
    }

    .redesSociaisSobre {
        margin-right: 1000px;
    }

    #projetos {
        height:2220px;
    }

    #projetos h2 {
        font-family: "Space Grotesk", sans-serif;
        font-size:48px;
    }

    #projetos h3 {
        font-family: "Space Grotesk", sans-serif;
        font-size:40px;
    }

    #habilidades {
        width:70%;
    }

    #habilidades h2 {
        left:27px;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 500;
    }

    body .redesSociaisRodape {
        margin:0 0 0 59px;
    }

    .redesSociaisRodape .redesSociais {
        width:36px;
        height:36px;
        left:-165px;
    }

    .direitosAutorais {
        margin-left:7px;
    }

    footer {
        margin-top:162px;
    }
}

@media screen and (max-width:420px) {

    body {
        background: url(fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner-celular.jpg) #00294d;
        background-attachment:fixed;
        background-position: center;
        background-size: cover;
    }
}